<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_NAME" value="Test"/>

    <springProperty scope="context" name="log_dir" source="log_dir"/>
    <!-- log for console,error and common   -->
    <!--1. console appender-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{yyyy-MM-dd
                HH:mm:ss}|%highlight(%-5level)|%boldYellow(%thread)|%boldCyan(%logger)|%line|%msg%n
            </pattern>
        </layout>
    </appender>
    <!--2. error appender, for Exception  -->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %line - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log_dir}/Test_error_%d{yyyy-MM-dd}_%i.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <!--3. common appender, for unconfigured package-->
    <appender name="Test-common" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--level为ERROR的日志，会被过滤。-->
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %line - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${log_dir}/Test_common_log_%d{yyyy-MM-dd}_%i.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
            <!-- 日志文件最大尺寸 -->
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="Test-common"/>
    </root>


    <!-- log for packages   -->
    <!-- web layer-->
    <appender name="Test-web" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %line - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log_dir}/Test_web_log_%d{yyyy-MM-dd}_%i.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <logger name="com.pccw.test.web" additivity="false">
        <appender-ref ref="Test-web"/>
        <appender-ref ref="fileErrorLog"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- service layer-->
    <appender name="Test-service" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %line - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log_dir}/Test_service_log_%d{yyyy-MM-dd}_%i.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>5MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <logger name="com.pccw.test.service" additivity="false">
        <appender-ref ref="Test-service"/>
        <appender-ref ref="fileErrorLog"/>
        <appender-ref ref="STDOUT"/>
    </logger>


</configuration>